# Ignore specific manifest files
manifests/ingress.yaml
manifests/pod.yaml
manifests/secret.yaml

# IDE
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~