apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: redfish-event-listener
  namespace: REPLACE_WITH_FAR_NAMESPACE
  labels:
    app: redfish-event-listener
spec:
  tls:
    - { }
  rules:
    - host: REPLACE_WITH_YOUR_EXTERNAL_ROUTE
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: redfish-event-listener
                port:
                  number: 8080
