apiVersion: v1
kind: Pod
metadata:
  name: redfish-event-listener
  namespace: REPLACE_WITH_FAR_NAMESPACE
  labels:
    app: redfish-event-listener
spec:
  serviceAccountName: redfish-event-listener
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - REPLACE_WITH_NODE_TO_SCHEDULE_ON
  containers:
  - name: redfish-event-listener
    image: REPLACE_WITH_YOUR_IMAGE
    imagePullPolicy: Always
    ports:
    - containerPort: 8080
      name: http
      protocol: TCP
    env:
    - name: REDFISH_INSECURE
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: insecure
    - name: DESTINATION_URL
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: destinationURL
    - name: POD_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
  restartPolicy: Always
