apiVersion: v1
kind: Pod
metadata:
  name: redfish-event-listener
  namespace: default
  labels:
    app: redfish-event-listener
spec:
  serviceAccountName: redfish-event-listener
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - REPLACE_WITH_NODE_TO_SCHEDULE_ON
  containers:
  - name: redfish-event-listener
    image: REPLACE_WITH_YOUR_IMAGE
    imagePullPolicy: Always
    ports:
    - containerPort: 8080
      name: http
      protocol: TCP
    env:
    - name: REDFISH_URL
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: url
    - name: REDFISH_USER
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: username
    - name: REDFISH_PASS
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: password
    - name: REDFISH_INSECURE
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: insecure
    - name: DESTINATION_URL
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: destinationURL
    - name: NODE_NAME
      valueFrom:
        secretKeyRef:
          name: redfish-credentials
          key: nodeName
  restartPolicy: Always
