---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: redfish-event-listener
  namespace: REPLACE_WITH_FAR_NAMESPACE
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: redfish-event-listener
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["nodes/status"]
  verbs: ["get", "patch", "update"]
- apiGroups: ["fence-agents-remediation.medik8s.io"]
  resources: ["fenceagentsremediationtemplates"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: redfish-event-listener
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: redfish-event-listener
subjects:
- kind: ServiceAccount
  name: redfish-event-listener
  namespace: REPLACE_WITH_FAR_NAMESPACE
