apiVersion: v1
kind: Secret
metadata:
  name: redfish-credentials
  namespace: default
type: Opaque
stringData:
  url: "https://MY_URL"
  username: "MY_USER"
  password: "MY_PASS"
  insecure: "true"
  destinationURL: "MY_EXTERNAL_ROUTE"
  nodeName: "MY_NODE_TO_MONITOR"
